/* Keyframes */

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes hero__bg-scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.035);
  }

  100% {
    transform: scale(1.07);
  }
}

@keyframes hero__bg-change--fhd {

  0%,
  90%,
  100% {
    background-image: url('../img/hero/bg_1920/tim-foster.jpg');
  }

  30% {
    background-image: url('../img/hero/bg_1920/train.jpg');
  }

  60% {
    background-image: url('../img/hero/bg_1920/barrier.jpg');
  }
}

@keyframes hero__bg-change--1024 {

  0%,
  90%,
  100% {
    background-image: url('../img/hero/bg_1024/tim-foster.jpg');
  }

  30% {
    background-image: url('../img/hero/bg_1024/train.jpg');
  }

  60% {
    background-image: url('../img/hero/bg_1024/barrier.jpg');
  }
}

@keyframes hero__bg-change--768 {

  0%,
  90%,
  100% {
    background-image: url('../img/hero/bg_768/tim-foster.jpg');
  }

  30% {
    background-image: url('../img/hero/bg_768/train.jpg');
  }

  60% {
    background-image: url('../img/hero/bg_768/barrier.jpg');
  }
}

@keyframes hero__bg-change--375 {

  0%,
  90%,
  100% {
    background-image: url('../img/hero/bg_375/tim-foster.jpg');
  }

  30% {
    background-image: url('../img/hero/bg_375/train.jpg');
  }

  60% {
    background-image: url('../img/hero/bg_375/barrier.jpg');
  }
}